/*! @generated */
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-account-menu-item {
  width: 100%;
  box-sizing: inherit;
  padding: 4px 16px;
  margin: 16px 0 0 0;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: inherit;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
}
.mc-account-menu-item:disabled {
  color: #C1C7CD;
  cursor: auto;
}
.mc-account-menu-title {
  width: 100%;
  box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px 0;
  padding: 16px 16px;
  text-align: left;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  cursor: default;
  outline: none;
  border: none;
  border-bottom: 1px solid #E6E8EB;
}
.mc-account-menu-item + .mc-account-menu-item {
  margin: 0;
}
.mc-account-menu-item:first-child {
  margin-top: 16px;
}
.mc-account-menu-item:last-child {
  margin-bottom: 16px;
}
.mc-account-menu-item:focus {
  background-color: #F7F9FA;
}
.mc-account-menu-item:enabled:hover {
  background-color: #F7F9FA;
}
.mc-account-menu-separator {
  border: none;
  border-bottom: 1px solid #E6E8EB;
  margin: 16px 0;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tertiary-link-button,
.mc-tertiary-list,
.mc-tertiary-list-element,
.mc-tertiary-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  zoom: 1;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  text-align: left;

  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
  padding: 0 8px 0 0;
  max-width: 100%;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  color: #0070E0;
}
.mc-tertiary-link-button:hover {
  color: #007AF5;
}
.mc-tertiary-link-button:active {
  color: #005DD6;
}
.mc-tertiary-link-button:disabled {
  /* This is a magic number and should be replaced with a color
    constant when the icon supports color filling */
  opacity: .4;
  cursor: default;
}
.mc-tertiary-link-button-content {
  /* Wrap the button content in a flex container
    because in some browsers (FF45) a button cannot have display flex
  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-list {
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}
.mc-tertiary-list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tertiary-icon-wrapper {
  margin-bottom: auto;
  min-width: 32px;
}
.mc-tertiary-icon-text {
  font-weight: 400;
  /* these are magic numbers that do not exist in the design system */
  line-height: 22px;
  font-size: 14px;
  padding: 5px 0;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
  outline: 0;
}
.mc-avatar-image {
  display: block;
  width: 100%;
  height: auto;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
:root { /* account for border */ /* account for border */
}
/** All styled buttons */
.mc-button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
  height: 32px;

  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  margin: 0;
}
.mc-button:disabled,
.mc-button-disabled {
  cursor: default;
}
.mc-button:focus,
button:not([aria-disabled="true"]):focus > .mc-button {
  /* Temp focus patch for <Button tagName="span" /> to be styled when nested in of a <button> */
  /* See https://github.com/dropbox/mcl/issues/25 */
  box-shadow: 0 0 0 3px #99C6F3;
}
/* Get rid of the Firefox inner focus border */
.mc-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mc-button-styleless {
  /* this is the only class a styleless button gets */
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.mc-button .mc-button-content {
  position: relative; /* This seemingly useless rule is key for IE buttons to not shift upon click. */
}
/** Primary button styles */
.mc-button-primary {
  line-height: 32px;
  padding: 0 16px;
  font-weight: 500;
  border: none;

  color: #FFF;
  background-color: #0070E0;
}
.mc-button-primary:hover {
  background-color: #007AF5;
}
.mc-button-primary:active {
  background-color: #005DD6;
}
.mc-button-primary:disabled,
.mc-button-primary.mc-button-disabled {
  background-color: #99C6F3;
}
/** Secondary button styles */
.mc-button-secondary {
  line-height: 30px;
  padding: 0 15px;
  font-weight: 400;
  border: 1px solid #C1C7CD;
  padding: 0 16px;

  color: #1B2733;
  background-color: #FFF;
}
.mc-button-secondary:hover {
  border-color: #007AF5;
  color: #007AF5;
}
.mc-button-secondary:active {
  border-color: #005DD6;
  color: #005DD6;
}
.mc-button-secondary:disabled,
.mc-button-secondary.mc-button-disabled {
  color: #C1C7CD;
  border-color: #C1C7CD;
}
/** Additional variant styles */
.mc-button-large {
  height: 40px;
  line-height: 40px;
}
.mc-button-small {
  height: 20px;
  line-height: 20px;
}
.mc-button-borderless,
.mc-button-borderless:hover,
.mc-button-borderless:disabled {
  border-color: transparent;
}
.mc-button-invisible {
  visibility: hidden;
}
.mc-button-circular {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
}
.mc-button-circular:hover {
  background: none;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #FFF;
  border-radius: 3px;
}
.mc-checkbox-disabled {
  cursor: default;
}
.mc-checkbox-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.mc-checkbox-border {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #C1C7CD;
  border-radius: 3px;
}
.mc-checkbox-input:hover ~ .mc-checkbox-border,
.mc-checkbox-input:focus ~ .mc-checkbox-border {
  border: 1px solid #0070E0;
}
.mc-checkbox-disabled .mc-checkbox-input:disabled ~ .mc-checkbox-border {
  border: 1px solid #C1C7CD;
}
.mc-checkbox-input:focus ~ .mc-checkbox-border {
  box-shadow: 0 0 0 3px #99C6F3;
}
.mc-checkbox-input:checked ~ .mc-checkbox-checked-icon {
  display: block;
}
.mc-checkbox-checked {
  background-color: #0070E0;
}
.mc-checkbox-checked .mc-checkbox-border {
  border: 1px solid #0070E0;
}
.mc-checkbox-mixed .mc-checkbox-mixed-icon {
  display: block;
}
.mc-checkbox-checked-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.mc-checkbox-mixed-icon {
  display: none;
  position: absolute;
  top: 9px;
  left: 7px;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
/*
  Alignment of the caret and button content should probably be through flexbox
  IE10 lacks some basic flexbox support (such as inline flex-children)
  and text-overflow within elements with non-block parents.

  https://tails.corp.dropbox.com/D245337 removed flexbox and added IE10 support.
*/
.mc-dropdown-button {
  width: 200px;
  text-align: left;
}
.mc-dropdown-button .mc-button-content::before {
  float: right;
  display: inline-block;
  content: '';

  /* create a triangle with borders */
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #637282;
  margin: 14px 0 12px 16px; /* 2px is a visual alignment adjustment */
}
.mc-dropdown-button-content {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
:root {
  /*
    TODO(taylorm) these max width/height values are arbitrary,
    determine from design what the actual width/height constraints are.
  */
}
/** DropdownMenu */
.mc-dropdown-menu {

}
.mc-dropdown-menu-button {

}
/** Menu */
.mc-menu {
  padding: 0;
  margin-top: 8px;
  width: 200px;
  max-height: 320px;
  overflow: auto;
  position: absolute;
  z-index: 1;

  font-family: 'AtlasGrotesk', sans-serif;
  background: #FFF;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border-radius: 4px;
}
/** MenuItem */
.mc-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}
.mc-menu-item-button {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
  text-align: left;

  font-family: 'AtlasGrotesk', sans-serif;
  color: #1B2733;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
.mc-menu-item-button .mc-button-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.mc-menu-item:focus .mc-menu-item-button,
.mc-menu-item-button:focus,
.mc-menu-item-button:hover {
  background-color: #F7F9FA;
}
.mc-menu-item-selected .mc-menu-item-button,
.mc-menu-item-button:active {
  color: #005DD6;
}
.mc-menu-item:first-of-type .mc-menu-item-button {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mc-menu-item:last-of-type .mc-menu-item-button {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-input {
  box-sizing: border-box;
  font-size: 14px;
  color: #1B2733;
  height: 32px;
  padding: 0 8px;
  border: 1px solid #C1C7CD;
  border-radius: 4px;
}
.mc-input.disabled, .mc-input:disabled {
  border-color: #E6E8EB;
  background-color: #E6E8EB;
}
.mc-input.invalid, .mc-input:invalid {
  border-color: #D62C0B;
  box-shadow: none;
}
.mc-input:focus, .mc-input.focus {
  border: 1px solid #0070E0;
  outline: none;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-media-row,
.mc-media-cell,
.mc-media-cell-content,
.mc-media-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-media-row {
  box-sizing: border-box;
  border-bottom: 1px solid #E6E8EB;
  position: relative; /* support for absolute position of media-actions */
  min-height: 64px;
}
.mc-table tr.mc-media-row {
  /* override default cursor value of 'auto' on table tr {} in some user agents! */
  cursor: inherit;
}
.mc-table tr.mc-media-row.mc-media-row-clickable {
  /* nesting necessary because of above selection */
  cursor: pointer;
}
/* Culled row */
.mc-media-row-culled {
  position: absolute;
  width: 100%;
  z-index: 0;
}
/* Double-line height row */
.mc-media-row-double-line {
  min-height: 72px;
}
.mc-media-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  min-height: 63px; /* 1px border */
}
.mc-media-cell-double-line {
  min-height: 71px; /* 1px border */
}
.mc-media-cell-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 0;
}
.mc-media-cell-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 64px;
      flex-basis: 64px;
}
.mc-media-cell-text-title,
.mc-media-cell-text-subtitle,
.mc-media-cell-text-detail {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mc-media-cell-text-title,
.mc-media-cell-text-detail {
  font-size: 14px;
  line-height: 24px;
}
.mc-media-cell-text-detail {
  color: #637282;
}
.mc-media-cell-text-subtitle {
  color: #637282;
  font-size: 12px;
  line-height: 16px;
}
.mc-media-cell-text-highlight {
  color: #0070E0;
}
/* Media actions */
.mc-media-actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0;
}
.mc-media-actions > * {
  margin-right: 16px;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
@-webkit-keyframes mediaTableGlint {
  0% {
    left: -100px;
  }
  100% {
    left: 200px;
  }
}
@keyframes mediaTableGlint {
  0% {
    left: -100px;
  }
  100% {
    left: 200px;
  }
}
.media-table-skeleton,
.media-table-skeleton-head,
.media-table-skeleton-head-row,
.media-table-skeleton-head-cell,
.media-table-skeleton-icon,
.media-table-skeleton-body,
.media-table-skeleton-row,
.media-table-skeleton-cell-content,
.media-table-skeleton-cell-detail,
.media-table-skeleton-placeholder-head,
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.media-table-skeleton,
.media-table-skeleton-head,
.media-table-skeleton-head-row,
.media-table-skeleton-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.media-table-skeleton-head-cell,
.media-table-skeleton-cell-content,
.media-table-skeleton-cell-detail {
  padding: 0; /* unset user agent */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.media-table-skeleton {}
.media-table-skeleton-head {
  border-bottom: 1px solid #E6E8EB;
  height: 40px;
  box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.media-table-skeleton-head-row {}
.media-table-skeleton-placeholder-head::after,
.media-table-skeleton-placeholder-content::after,
.media-table-skeleton-placeholder-detail::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -100px;
  width: 120px;
  height: 80px;
  opacity: 1;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-animation-name: mediaTableGlint;
          animation-name: mediaTableGlint;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.media-table-skeleton-placeholder-head,
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  position: relative;
  color: transparent;
  opacity: 0.06;
  background-color: #637282;
}
.media-table-skeleton-placeholder-head {
  height: 12px;
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
}
.media-table-skeleton-placeholder-content,
.media-table-skeleton-placeholder-detail {
  height: 16px;
}
.media-table-skeleton-placeholder-content {
  -ms-flex-preferred-size: 168px;
      flex-basis: 168px;
  margin-right: 16px;
}
.media-table-skeleton-placeholder-detail {
  -ms-flex-preferred-size: 32px;
      flex-basis: 32px;
}
.media-table-skeleton-row {
  height: 64px;
  background-color: #FFF;
  border-bottom: 1px solid #E6E8EB;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.media-table-skeleton-cell-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.media-table-skeleton-cell-detail {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.media-table-skeleton-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-overflow-button {
  color: #637282;
  padding: 0 1px; /* 32px icon + 1px border + 1px padding = 36px */
}
.mc-overflow-button-icon {
  margin-top: -1px; /* icon height is 32px and does not consider the border */
}
.mc-overflow-button:not(:disabled):hover .mc-overflow-button-icon g,
.mc-overflow-button:not(:disabled):active .mc-overflow-button-icon g {
  fill: #0070E0; /* we don't have a system for changing icon colors yet, fix me */
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-popover {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  color: #1B2733;
}
.mc-popover-trigger {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.mc-popover-content {
  position: absolute;
  z-index: 1;
  left: 0;
  padding: 0px;
  box-sizing: inherit;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  min-width: 160px;
  max-width: 344px;
  background-color: #FFF;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  border-radius: 4px;
  outline: none;
}
.mc-popover-content-attach-left {
  left: 0;
  right: auto;
  margin-left: -8px;
}
.mc-popover-content-attach-right {
  right: 0;
  left: auto;
  margin-right: -8px;
}
.mc-popover-content-position-above {
  bottom: 100%;
  margin-bottom: 8px;
}
.mc-popover-content-position-below {
  top: 100%;
  margin-top: 8px;
}
.mc-popover-content-scroller {
  box-sizing: inherit;
  display: block;
  overflow: auto;
}
.mc-popover-content-description {
  width: 100%;
  box-sizing: inherit;
  border: none;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 8px 16px;
  text-align: left;
}
.mc-popover-content-title {
  width: 100%;
  box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 8px 16px 7px 16px; /* 7px because of bottom border */
  text-align: left;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  cursor: default;
  outline: none;
  border: none;
  border-bottom: 1px solid #E6E8EB;
}
.mc-popover-content-title + .mc-popover-content-item {
  margin-top: 8px;
}
.mc-popover-content-item {
  width: 100%;
  box-sizing: inherit;
  padding: 4px 16px;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: inherit;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: block;
}
.mc-popover-content-item:disabled {
  color: #C1C7CD;
  cursor: default;
}
.mc-popover-content-item:first-child {
  margin-top: 8px;
}
.mc-popover-content-item:last-child {
  margin-bottom: 8px;
}
.mc-popover-content-item:focus {
  background-color: #F7F9FA;
}
.mc-popover-content-item:enabled:hover {
  background-color: #F7F9FA;
}
.mc-popover-content-separator {
  border: none;
  border-bottom: 1px solid #E6E8EB;
  margin: 8px 0 8px 16px;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tabbed-header-list,
.mc-tabbed-header-item,
.mc-tabbed-header-tab,
.mc-tabbed-header-tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tabbed-header-list {
  border-bottom: 1px solid #E6E8EB;
  box-sizing: border-box;
  font-family: 'AtlasGrotesk', sans-serif;
  list-style-type: none;
  margin: 0;
  max-height: 40px;
  padding: 0;
}
.mc-tabbed-header-item {
  margin-right: 32px;
}
.mc-tabbed-header-tab {
  background: none;
  border: none;
  color: #637282;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'AtlasGrotesk', sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.mc-tabbed-header-tab:focus {
  outline: none;
}
.mc-tabbed-header-tab-content-space {
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.mc-tabbed-header-tab-content-selected {
  border-bottom: 1px solid #1B2733;
  color: #1B2733;
  font-weight: 500;
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-table,
.mc-table-head,
.mc-table-body,
.mc-table-row,
.mc-table-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-table {
  font-family: 'AtlasGrotesk', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1B2733;
}
.mc-table-head {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
}
.mc-table-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Culled table body */
.mc-table-body-culled {
  position: relative;
}
.mc-table-row {
  border-bottom: 1px solid #E6E8EB;
  background: #FFF;
}
/* Culled table row */
.mc-table-row-culled {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.mc-table tr.mc-table-row {
  /* override default cursor value of 'auto' on table tr {} in some user agents! */
  cursor: inherit;
}
.mc-table-head-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  color: #637282;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/* Fixed table header row */
.mc-table-head-row-fixed {
  position: fixed;
  z-index: 4;
}
.mc-table-cell {
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mc-table-head-cell {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;  
}
/* Colors */
:root {
  /* Product Colors */
  /* Avatar and Illustration Colors (in Review) */
  /* Transparent Colors */
}
/* Font Stack */
/* Type Scale */
/* Effects */
/**
 * Z-Index layers
 * These hardcoded values will be replaced with an array with generated values.
 */
.mc-tip-card {
  padding: 16px;
  background-color: #F7F9FA;
  border-radius: 4px;
  border: 1px solid #E6E8EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mc-tip-card-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  font-family: 'AtlasGrotesk', sans-serif;
  color: #1B2733;
}
.mc-tip-card-dismiss {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-left: 8px;
  height: 24px;
}
.mc-tip-card-dismiss-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.mc-tip-card-dismiss-icon g {
  fill: #637282;
}
.mc-tip-card-dismiss-icon g:hover {
  fill: #6A7C8F;
}
.mc-tip-card-dismiss-icon g:active {
  fill: #536170;
}

